@media only screen and (min-width : 320px) and (max-width : 479px) {
	.nav > li > a{color:#666352;}
	.nav > li > a:hover{color:#fff ;}
	.nav > li.active a{color:#fff;}
	.navbar-nav > li {padding:0 0 0 10px;}
	.navbar-brand{ text-align:center; float: none !important; padding:0 0 10px 0 !important;}
	.loginBlk{padding:0; margin:0; float:none !important; text-align:center;}
	.navbar-nav > li {border-right:0 !important;}
	.container {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; background:#fff;}
}

@media only screen and (min-width : 480px) and (max-width : 767px) {
	.nav > li > a{color:#666352;}
	.nav > li > a:hover{color:#fff;}
	.nav > li.active a{color:#fff;}
	.navbar-nav > li {padding:0 0 0 10px;}
	.navbar-nav > li {border-right:0 !important;}
	.container {padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; background:#fff;}
}


@media only screen and (max-width : 768px) {
	.nav > li > a{color:#666352;}
	.nav > li > a:hover{color:#fff;}
	.nav > li.active a{color:#fff;}
}
